<header>
    <div class="logo">
        <a href="/">File Uploader</a>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/log-out" class="secondary-button">Log Out</a>
            </li>
        </ul>
    </nav>
</header>
