<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="favicon" href="/folder.png" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/login.css" />
        <title>File Uploader</title>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <h1 style="color: white;">HOME</h1>
        </main>
    </body>
</html>
