main {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    background: rgb(21, 21, 21);
}

.logo:hover a {
    color: hsl(203, 78%, 50%);
    cursor: pointer;
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.form {
    padding: 30px;
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    color: white;
    height: auto;
    background: rgb(21, 21, 21);
}

.formusername,
.formpassword {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: var(--border);
    border-radius: 5px;
    background-color: #e8f0fe;
    padding: 8px;
    width: 100%;
}

form {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
}

.formpassword {
    margin-bottom: 20px;
}

.secondary-button:hover {
    color: hsl(203, 78%, 44%);
}

.main-button-2 {
    background-color: rgb(21, 21, 21);
    padding: 6px 12px 6px 12px;
    border: none;
    border-radius: 5px;
    height: auto;
    text-align: center;
    transition: opacity 200ms;
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.main-button-2:hover {
    color: hsl(203, 78%, 50%);
    cursor: pointer;
}

form > p {
    text-align: center;
}

.oauth-buttons {
    margin-top: 20px;
}
.link {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    border-bottom: 2px solid white;
}

.oauth-buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
}
.google,
.github {
    background-color: white;
    width: inherit;
    height: inherit;
    display: flex;
    border: none;
    margin: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    width: 125px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.googletext,
.githubtext {
    text-decoration: none;
    font-weight: 600;
}

.googleanchor,
.githubanchor {
    text-decoration: none;
    display: block;
    width: 125px !important;
}

.google:hover,
.github:hover {
    cursor: pointer;
    border: none;
    color: hsl(203, 77%, 34%);
}
